:root {
  --widget-padding: 16px;
  --summary-padding: 6px;

  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: {
    left: 50px;
    top: 300px;
  }

  font-size: 16px;
}
