:root {
  --widget-padding: 16px;
  --summary-padding: 6px;

  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;

  font-size: 16px;
}

#bg-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(14px) brightness(40%);
  background-position: center;
  transform: scale(1.1);
}
