#weather-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: min-content;
  padding: var(--widget-padding);
  border-radius: var(--border-radius);

  background-color: antiquewhite;
}

#weather-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-extra-info {
  text-align: right;
}

#forecast {
  display: flex;
  gap: 24px;

  list-style: none;
}

.weather-summary {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;

  width: 100px;
  padding: var(--summary-padding);
  border-radius: var(--border-radius);

  background-color: wheat;
}

.weather-hourly {
  display: none;

  &.active {
    display: block;
  }

  position: absolute;
  z-index: 100;
  top: 0;
  left: 85%;
  transform: translateY(-50%);

  width: 160px;
  padding: 10px;
  border-radius: 14px;

  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__hour {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    img {
      width: 32px;
    }
  }
}
