#weather-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: min-content;
  padding: var(--widget-padding);
  border-radius: var(--border-radius);

  background-color: antiquewhite;
}

#weather-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-extra-info {
  text-align: right;
}

#forecast {
  display: flex;
  gap: 24px;

  list-style: none;

  .weather-summary {
    cursor: pointer;
  }
}

.weather-summary {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;

  width: 100px;
  padding: var(--summary-padding);
  border-radius: var(--border-radius);

  background-color: wheat;
}

.weather-hourly {
  display: none;

  &.active {
    display: block;
  }

  position: absolute;
  z-index: 100;
  top: 0;
  left: 85%;
  transform: translateY(-50%);

  width: 160px;
  padding: 10px;
  border-radius: 14px;

  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  cursor: default;

  &__hour {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    img {
      width: 32px;
    }
  }
}

// TODO refactor the button's styles
.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
/* Button 8 */
#unit-toggle .knobs:before,
#unit-toggle .knobs:after,
#unit-toggle .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#unit-toggle .knobs:before {
  content: 'C';
  color: #fff;
  background-color: #03a9f4;
  left: 4px;
}

#unit-toggle .knobs:after {
  content: 'F';
  left: 42px;
  color: #fff;
  background-color: #f44336;
  opacity: 0;
}

#unit-toggle .knobs:before,
#unit-toggle .knobs:after {
  z-index: 2;
}

#unit-toggle .knobs span {
  left: 4px;
  background-color: #03a9f4;
  z-index: 1;
}

#unit-toggle .checkbox:checked + .knobs:before {
  opacity: 0;
}

#unit-toggle .checkbox:checked + .knobs:after {
  opacity: 1;
}

#unit-toggle .checkbox:checked + .knobs span {
  background-color: #fcebeb;
  transform: scale(4);
}
