#top-panel {
  display: flex;

  align-items: center;
  gap: 20px;
}

#search__bar {
  position: relative;
  z-index: 10;

  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 14px;

  &:focus {
    width: 350px;
  }
}

#search__suggestions {
  position: absolute;
  z-index: 1;

  width: 350px;

  list-style: none;

  background-color: yellowgreen;
  color: white;

  cursor: pointer;
}

.search__suggestion {
  padding: 15px;

  &:hover {
    background-color: darkgreen;
  }
}

#get-user-location {
  width: 30px;
  height: 30px;
  border: none;

  background: none;

  svg {
    cursor: pointer;
  }
}
