#top-panel {
  display: flex;

  align-items: end;
  gap: 20px;
}

#search__bar {
  border: none;
  border-radius: 14px;
  padding: 10px;
}

#get-user-location {
  align-self: center;

  width: 30px;
  height: 30px;
  border: none;

  background: none;

  svg {
    cursor: pointer;
  }
}
